.lightgrey {
  background-color: var(--white) !important;
}

.lightgrey .app-content {
  background-color: var(--grey) !important;
}

.lightbody {
  background: var(--white);
}

.cursor {
  cursor: pointer;
}

.blockchain-tag > .tag-circle {
  margin-right: 5px !important;
}

#ev-marketplace {
  padding-top: 20px;
}

.server-info-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
}

.single-blockchain-col .blockchain-footer > a {
  font-weight: 500;
}

.single-blockchain-col .blockchain-footer > a > svg,
.server-item-footer > a > svg {
  margin-left: 7px;
  transition: all 0.3s ease-in;
}

.single-blockchain-col .blockchain-footer:hover > a > svg,
.server-item-footer:hover > a > svg {
  transform: translateX(3px);
  transition: all 0.3s ease-in;
}

.server-info-list .server-blockchain-name {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--primary);
  font-weight: 600;
}

.server-info-list .server-blockchain-name img {
  margin: 0 20px 0 0;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  flex-shrink: 0;
  background-color: var(--light-grey);
}

.marketplace-server-detail {
  flex: auto 1 1;
}

.marketplace-container {
  max-width: 1510px;
  margin: 0 auto;
  padding: 30px;
}
.marketplace-container .navbar {
  padding: 0;
}
.marketplace-container .navbar-brand {
  padding: 0;
  margin-right: 20px;
}

.header-nav > li {
  padding-left: 20px;
}

.header-nav > li > .nav-link {
  font-weight: 600;
  background: var(--primary-light);
  border-radius: 12px;
  color: var(--white);
  padding: 12px 18px;
  min-height: 52px;
  transition: all 0.3s ease-in;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header-nav > li > .nav-link:hover {
  color: var(--white);
  background: var(--primary);
  transition: all 0.3s ease-in;
}
.marketplace-container > .navbar > .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

​ .info-tabs-modal .main .slick-list {
  max-width: 100%;
  width: 100%;
  margin-left: unset;
  margin-right: 0;
}

.info-tabs-modal .main .slick-track {
  margin-left: 0;
  margin-right: 0;
}

.info-tabs-modal .main .slick-list {
  margin-left: -10px;
  margin-right: -10px;
}
.white-shadow-bg {
  background: var(--white);
  box-shadow: 0 4px 24px var(--shadow-color);
  border-radius: 30px;
  padding: 15px;
  position: relative;
  height: 100%;
}

.selected-server-country {
  display: inline-flex;
  align-items: center;
}

.selected-server-country p {
  margin: 0;
  font-weight: 500;
  color: var(--primary);
}

.selected-server-country .flag-secondary-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary);
  margin-top: 2px;
}

.selected-server-country img {
  margin: 0 8px 0 0;
  width: 48px;
  height: 30px;
  border-radius: 3px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 10px var(--shadow-color);
}

.recommended-server-body {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.recommended-server-body img {
  width: 420px;
  height: 420px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.recommended-tag {
  position: absolute;
  right: 0;
  top: 0;
  gap: 5px;
  padding: 6px 24px;
  text-align: center;
  color: var(--primary);
  border-radius: 0 30px 0px 30px;
  background: var(--grey-500);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 13px;
  font-weight: 500;
}

.recommended-server-header {
  padding-right: 10px;
}

.list-unstyled {
  list-style-type: none;
}

.justified-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-accordion-header {
  cursor: pointer;
}

.blockchain-listing {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blockchain-filters-col {
  width: 23%;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  position: sticky;
  top: 0;
}

.blockchain-list-col {
  width: 77%;
  padding-left: 7%;
  transition: 0.3s;
  margin-top: -73px;
}

.filter-accordion-header {
  font-weight: 500;
}

.filter-accordion-body {
  padding: 15px 0 0 0;
  width: 100%;
  padding: 0 0 0 0;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .box {
  height: 16px;
  width: 16px;
  border: solid 1px var(--grey-500);
  display: inline-flex;
  border-radius: 4px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}

.filter-check-list {
  height: 95px;
  overflow-y: auto;
}

.filter-check-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-checkbox input:checked ~ .box {
  background: var(--primary);
  border-color: var(--primary);
}

.custom-checkbox .box img {
  width: 12px;
  opacity: 0;
}

.custom-checkbox input:checked ~ .box img {
  opacity: 1;
}

.custom-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.single-filter-accordion {
  border-bottom: solid 1px var(--grey-500);
  padding: 0 0 15px 0;
  margin-bottom: 25px;
}

.rs-container .rs-bg,
.rs-container .rs-selected {
  background-color: var(--grey-500);
  border: 1px solid var(--grey-500);
  height: 3px;
  top: 4px;
}

.rs-container .rs-pointer {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 50%;
  height: 10px;
  left: 0;
  width: 10px;
  box-shadow: none;
}

.rs-container .rs-pointer::after,
.rs-container .rs-pointer::before {
  display: none;
}

.rs-container .rs-scale {
  display: none;
}

.rs-container {
  height: auto;
}

.blockchain-icon .img-outter {
  height: 86px;
  width: 86px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: -5px;
  margin-right: -6px;
  background-color: var(--white);
}

.blockchain-list .single-blockchain-col {
  flex: calc(100% / 4) 0 0;
  width: calc(100% / 4);
  border-radius: 15px;
  margin-bottom: 20px;
  transition: 0.3s;
  padding: 0 10px;
  cursor: pointer;
}

.blockchain-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  flex-direction: column-reverse;
  overflow: hidden;
}

.server-item-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

/* .blockchain-info {
    min-height: 86px;
} */

.blockchain-icon {
  margin: 15px 0 20px 0;
}

.blockchain-info .title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  color: var(--primary);
}

.single-blockchain-col .blockchain-inner,
.server-item {
  background: var(--grey);
  border: solid 2px var(--white);
  box-shadow: 0 8px 24px var(--shadow-color);
  border-radius: 15px;
}
.server-item {
  box-shadow: 0 6px 16px -6px var(--shadow-color);
}
.blockchain-featrues {
  margin: 22px 0 0 0 !important;
  font-size: 10px;
  color: var(--secondary);
  max-width: 170px;
  font-weight: 500;
}

.blockchain-featrues li {
  display: inline-flex;
  margin-right: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
  align-items: center;
}

.blockchain-featrues li img {
  margin-right: 3px;
}

.blockchain-price-col p {
  margin: 0;
}

.blockchain-price-col {
  margin: 5px 0 0 0;
}

.blockchain-price-col .blockchain-price-text {
  font-size: 12px;
  color: var(--secondary);
}

.blockchain-price {
  font-size: 24px;
  margin-top: 3px;
  font-weight: 500;
  color: var(--primary);
}

.blockchain-footer a,
.server-item-footer a {
  color: var(--purple-light) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  font-weight: 500;
  text-align: center;
  background: var(--white);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  text-decoration: none !important;
}

.blockchain-tag {
  min-width: 80px;
  display: table;
  text-align: center;
  background: var(--grey);
  border: solid 2px var(--white);
  position: absolute;
  right: -2px;
  top: -2px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 15px;
}

.blockchain-tag .tag-circle {
  display: inline-block;
  height: 9px;
  width: 9px;
  background: var(--grey-500);
  border-radius: 50%;
  margin-right: 2px;
}

.live .tag-circle {
  background: var(--success) !important;
}

.live .blockchain-tag {
  color: var(--success);
  background: var(--light-green-background);
}

.alpha .tag-circle {
  background: var(--warning) !important;
}

.alpha .blockchain-tag {
  color: var(--warning);
  background: var(--light-yellow-background);
}

.blockchain-list {
  display: flex;
  flex-wrap: wrap;
}

.blockchain-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.alpha .blockchain-footer {
  opacity: 0.6;
  pointer-events: none;
}

.applied-filter-list .applied-tag {
  display: inline-flex;
  color: var(--primary);
  background: var(--white);
  box-shadow: 0 4px 20px var(--shadow-color);
  padding: 9px 12px;
  border: solid 1px var(--grey);
  border-radius: 40px;
  font-size: 12px;
  align-items: center;
}
.applied-filter-list .reset-filters {
  font-size: 12px;
  display: inline-block;
  text-decoration: underline;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 600;
  color: var(--primary);
}

.applied-filter-list {
  margin-bottom: 25px !important;
}

.text-checkbox input {
  display: none;
}

.text-checkbox {
  font-size: 12px;
  cursor: pointer;
}

.status-checklist li {
  display: inline-block;
  margin-right: 5px;
  text-transform: capitalize;
}

.text-checkbox .text {
  padding: 6px 10px;
  border-radius: 105px;
  min-width: 50px;
  display: block;
  text-align: center;
}

.text-checkbox input:checked ~ .text {
  background: var(--grey-500);
}

.text-checkbox .text .tag-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  background: var(--grey-750);
  border-radius: 50%;
}

.beta .tag-circle {
  background: var(--alert) !important;
}

.price-type-selector input {
  display: none;
}

.price-type-selector .text {
  background: var(--grey-500);
  display: block;
  width: 100%;
  padding: 13px 15px;
  cursor: pointer;
  color: var(--primary);
}

.price-type-col > ul > li {
  width: 50%;
  display: inline-block;
  position: relative;
}

.price-type-col > ul {
  display: flex;
  flex-wrap: wrap;
}

.price-type-col {
  margin-bottom: 25px;
}

.filter-accordion-body .inner-col {
  position: relative;
  display: table;
  width: 100%;
}

.price-type-col > ul > li:first-child .text {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.price-type-col > ul > li:last-child .text {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.price-type-selector input:checked ~ .text {
  background: var(--primary);
  color: var(--white);
}

.crypto-dropdown {
  position: absolute;
  top: 52px;
  background: var(--white);
  width: 100%;
  transition: 0.3s;
  transform-origin: top;
  transform: scaleY(0);
  box-shadow: 0 8px 24px var(--shadow-color);
  z-index: 1;
  border-radius: 12px;
  font-size: 15px;
  border: solid 1px var(--grey-500);
  padding: 5px 0;
}

.price-type-col > ul > li:hover .crypto-dropdown {
  transform: scaleY(1);
}

.price-type-selector .dropdown-arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.crypto-dropdown a {
  text-decoration: none !important;
  color: var(--primary);
  display: flex;
  padding: 5px 15px;

  font-weight: 500;
  align-items: center;
}

.crypto-dropdown a img {
  width: 23px;
  margin-right: 10px;
}

.filter-actions-col .inner {
  width: 23%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-toggler {
  background: var(--grey);
  height: 52px;
  width: 52px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px 12px;
  cursor: pointer;
  flex-direction: column;
  transition: all 0.3s ease-in;
}

.filter-toggler:hover {
  background: var(--grey-500);
  transition: all 0.3s ease-in;
}

.filter-search {
  width: calc(100% - 65px);
}

.search-group {
  position: relative;
}

.search-group input {
  color: var(--primary-light);
  width: 100%;
  padding: 0 18px 0 36px;
  background: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease-in;
  border-radius: 8px;
  border: 1px solid var(--grey);
}
.search-group input:hover {
  border-color: var(--grey-500);
  transition: all 0.3s ease-in;
}

.search-group input:focus {
  border-color: var(--primary-light);
  transition: all 0.3s ease-in;
}

.filter-actions-col {
  margin-bottom: 20px;
}

.mk-space {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

.search-group button {
  background: transparent !important;
  border: none !important;
  padding: 0;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.search-group button img {
  max-width: 16px;
  height: auto;
}

.filter-toggler span {
  display: block;
  height: 2px;
  background: var(--secondary);
  width: 22px;
  transition: 0.3s;
  margin-bottom: 5px;
  border-radius: 2px;
}

.filter-toggler span:last-child {
  margin-bottom: 0;
}

.blockchain-filters-col.active {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.blockchain-list-col.active {
  width: 100%;
  padding: 0;
  margin-top: 0;
}

.blockchain-list-col.active .single-blockchain-col {
  width: 24%;
}

.filter-toggler.active span:nth-child(2) {
  display: none;
}

.filter-toggler.active span:first-child {
  transform: rotate(45deg);
  position: relative;
  top: 4px;
}

.filter-toggler.active span:last-child {
  transform: rotate(-45deg);
  position: relative;
  top: -3px;
}

.filter-accordion-header li img {
  transition: 0.3s;
}

.filter-accordion-header.active li img {
  transform: rotate(-90deg);
}

.modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: var(--secondary);
  z-index: 11;
  top: 0;
  left: 0;
  transition: 0.2s;
  display: none;
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: var(--white);
  width: 1160px;
  min-height: 10px;
  border-radius: 30px;
  transform-origin: center;
  transition: 0.3s;
  z-index: 111;
}

.custom-modal-content {
  padding: 50px 60px 90px;
}

.modal-header-content .large-text {
  font-size: 24px;
  margin: 0;
  color: var(--primary);
  font-weight: 700;
}

.modal-header-content .secondary-text {
  color: var(--primary);
  font-size: 18px;
  margin: 20px 0 0 0;
  font-weight: 500;
}

.skltbs-tab-group {
  padding: 4px;
  margin: 0 0 35px 0;
  list-style-type: none;
  background: var(--grey);
  border-radius: 30px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.info-tabs-modal p {
  line-height: 24px;
  color: var(--secondary-500);
}

.skltbs-tab-item {
  display: inline-block;
  text-align: center;
  flex: auto 1 1;
  margin: 0;
  position: relative;
  z-index: 1;
}

.skltbs-tab-item:hover {
  z-index: 2;
}

.modal-header-content {
  margin-bottom: 25px;
  padding-right: 30px;
}

.skltbs-panel {
  color: var(--secondary);
  font-size: 16px;
}

.skltbs-mode-tabs .skltbs-panel-group {
  padding: 0 5px;
}

.skltbs-panel hr {
  border-color: var(--white);
  margin: 30px 0;
  opacity: 0.4;
}

.custom-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.custom-modal-close {
  position: absolute;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 100%;
  cursor: pointer;
  background: var(--white);
  box-shadow: 0 3px 12px var(--shadow-color);
  transition: 0.3s;
  right: 50px;
  top: 50px;
  margin-bottom: 10px;
}
.custom-modal-close svg {
  opacity: 0.65;
  transition: 0.3s;
}
.custom-modal-close:hover svg {
  opacity: 0.85;
  transition: 0.3s;
}

#servers-tabs-modal .skltbs-tab-item {
  width: calc(100% / 3);
}

.server-info {
  display: flex;
  align-items: center;
}

.server-info .server-img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-right: 10px;
  background-color: var(--white);
}
.server-info .server-img img {
  max-width: 100%;
  height: auto;
}

.server-info .server-info {
  width: calc(100% - 70px);
}

.server-info-text p {
  margin: 0;
}

.server-item-body {
  flex-wrap: wrap;
}

.server-features p {
  margin: 0;
}

.server-features ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.server-features .title {
  color: var(--primary);
  font-size: 9px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2px;
}

.server-features .value,
.server-features strong {
  color: var(--primary);
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
}

.server-features ul li {
  width: calc(100% / 3);
  display: inline-flex;
  align-items: center;
}

.server-features {
  width: 100%;
  margin: 18px 0 10px 0;
}

.server-features ul li .feature-img span {
  display: flex;
  background: var(--white);
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.server-features ul li .feature-img span img {
  max-width: 12px;
  height: auto;
}

.server-features ul li .feature-img {
  margin-right: 5px;
}

.server-info-text .server-title {
  color: var(--primary);
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
}

.server-info-text .server-price {
  font-size: 19px;
  color: var(--primary);
  font-weight: 700;
  line-height: normal;
}

.server-info-text .server-price small {
  font-size: 13px;
}

.server-info-text .server-price span,
.small-monthly-tag {
  font-size: 8px;
  background: var(--primary);
  color: var(--white);
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  position: relative;
  top: -3px;
  display: inline;
  margin: 0 5px;
  font-weight: 600;
}
.server-info-text .server-price span {
  font-size: 7px;
  top: -2px;
  margin-left: 0;
}
.deploy-btn-list .small-monthly-tag {
  font-size: 9px;
  padding: 3px 8px;
}
#server-carousel .owl-stage-outer {
  padding: 20px 0;
}

#server-carousel .owl-nav {
  position: absolute;
  bottom: -15px;
  right: -3px;
}

#server-carousel .owl-nav button {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background: var(--grey);
  margin: 0 3px;
  font-size: 30px;
}

.tooltip-content-col {
  background: var(--grey);
  font-size: 12px;
  border: solid 1px var(--grey-500);
  border-radius: 12px;
  padding: 10px 12px;
  text-align: center;
  color: var(--primary) !important;
  white-space: initial;
}

#filter-category-list .text {
  color: var(--secondary);
  margin-left: 5px;
}

.tooltip-content-col p {
  margin: 0;
}

.custom-tooltip-info {
  position: relative;
  margin-left: 5px;
  cursor: pointer;
}

.tooltip-content-col {
  position: absolute;
  top: 24px;
  right: -19px;
  width: 230px;
  transition: 0.3s;
  transform-origin: top;
  transform: scaleY(0);
  z-index: 1;
}

.custom-tooltip-info:hover .tooltip-content-col {
  transform: scaleY(1);
}

.tooltip-content-col::before {
  content: "";
  display: table;
  width: 10px;
  height: 10px;
  background: var(--grey-500);
  position: absolute;
  top: -5px;
  right: 20px;
  transform: rotate(45deg);
  z-index: -1;
}

.tooltip-content-col::after {
  content: "";
  display: table;
  height: 8px;
  width: 90%;
  background: var(--grey);
  position: absolute;
  left: 10px;
  top: 0;
}

.deploy-btn-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deploy-btn-list button img {
  margin-left: 8px;
  max-width: 7px;
  height: auto;
  transition: all 0.3s ease-out;
}
.deploy-btn-list button:hover img {
  transform: translateX(3px);
  transition: all 0.3s ease-in;
}
.market-deploy-btns {
  margin: auto;
  width: 100%;
  padding: 0 3vw;
}

.server-price.recommended-server-price .price {
  display: inline-flex;
  align-items: baseline;
}

.market-deploy-btns .price {
  font-size: 30px;
  font-weight: 700;
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-end;
  position: relative;
  top: 2px;
}

.market-deploy-btns .price small {
  font-size: 22px;
}

.market-deploy-btns .tag {
  background: var(--primary);
  color: var(--white);
  font-size: 10px;
  border-radius: 3px;
  padding: 2px 6px;
  text-transform: uppercase;
  position: relative;
  top: -5px;
  display: inline-block;
  margin: 0 5px;
}

.deploy-btn-list button {
  background: var(--primary-light);
  color: var(--white);
  border: solid 1px transparent;
  padding: 16px 5vw;
  min-height: 52px;
  display: block;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.marketplace-config {
  flex: 460px 0 0;
  min-height: 760px;
}

.marketplace-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.server-form-col {
  padding: 30px 35px;
}

.server-form-col .form-label {
  color: var(--primary) !important;
  display: block;
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 700;
}

.switch-radio-list {
  padding: 4px;
  margin: 0;
  list-style-type: none;
  background: var(--grey);
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.switch-radio-list::-webkit-scrollbar {
  height: 0 !important;
}

.switch-radio-list label .text {
  background: transparent;
  border: none;
  text-align: center;
  padding: 17px 15px;
  color: var(--primary);
  width: 100%;
  border-radius: 110px;
  cursor: pointer;
  display: inline-flex;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
}
.switch-radio-list label:hover .text {
  opacity: 1;
}
.switch-radio input {
  display: none;
}

.switch-radio-list li {
  flex: auto 1 1;
  text-align: center;
}

.switch-radio input:checked ~ .text {
  background: var(--white);
  opacity: 1;
}

.server-form-col-inner .form-group {
  margin-bottom: 35px;
}

.server-form-col-inner .form-group:last-child {
  margin-bottom: 0;
}

.server-form-col-inner .form-group:empty {
  margin-bottom: 0;
}

.server-form-col .form-label .custom-tooltip-info {
  margin-left: 7px;
}
.success-msg {
  color: var(--success);
  font-weight: 600;
}
#btn1,
#btnMap {
  display: inline-flex;
}

#btn1 img,
#btnMap img {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  transition: 0.3s;
}

#btn1.detls {
  background: var(--grey);
  border: 1px solid var(--grey-500);
  border-radius: 24px;
  padding: 3px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
}

#btn1 .detail-text {
  color: var(--primary);
  font-weight: 500;
  margin-left: 7px;
  margin-right: 1px;
}
.detail-icon {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--white);
  transition: all 0.3s ease-out;
}
#btn1.detls:hover .detail-icon {
  background-color: var(--primary-light);
  transition: all 0.3s ease-in;
}
#btn1.detls:hover .detail-icon svg path {
  stroke: var(--white);
  transition: all 0.3s ease-in;
}
.market-deploy-btns span img {
  width: 48px;
  height: auto;
}

.custom-tooltip-info img {
  width: 15px;
  transition: 0.3s;
  position: relative;
  top: -1px;
}

.large-radio input {
  display: none;
}

.large-radio.text {
  display: block;
  width: 100%;
  color: var(--secondary);
  font-weight: 500;
}

.large-radio.text .text {
  border: solid 1px var(--grey-500);
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.large-radio.disable .text {
  background: var(--secondary);
}

.large-radio.disable .text:hover {
  background: var(--secondary);
  color: var(--secondary);
}

.protocol-type-list > li {
  margin-bottom: 12px;
}

.large-radio input:checked ~ .text,
.large-radio:hover .text {
  color: var(--primary);
  background-color: var(--grey);
}

.large-radio {
  position: relative;
  width: 100%;
}

.large-radio .custom-tooltip-info,
.available-recommended-server .custom-tooltip-info {
  position: absolute;
  top: 4px;
  right: 10px;
}

.available-recommended-server {
  background: var(--grey);
  padding: 30px 20px 17px;
  border: solid 1px var(--grey-500);
  border-radius: 12px;
  position: relative;
}

.large-radio .custom-tooltip-info {
  position: relative;
  top: 0;
  left: 2px;
}

.available-recommended-server p {
  margin: 0;
  color: var(--primary);
}

.available-recommended-server .server-title {
  margin-bottom: 4px;
  font-weight: 500;
}

.available-recommended-server .server-price {
  font-size: 23px;

  font-weight: 700;
}

.available-recommended-server .server-price small {
  font-size: 15px;
}

.available-recommended-server .recommeded-icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px 12px;
  text-align: center;
  color: var(--primary);
  border-radius: 11px 0 11px 0;
  background: var(--grey-500);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 500;
}

.label-btn {
  display: inline-flex;
  align-items: center;
  background: var(--grey);
  padding: 6px 15px;
  border-radius: 15px;
  font-size: 11px;
  font-weight: 500;
  min-height: 30px;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}
.label-btn:hover {
  background: var(--grey-500);
  transition: all 0.3s ease-in;
}
.form-group .label-btn {
  position: relative;
  white-space: nowrap;
}
.label-btn img {
  width: 12px;
  margin-right: 4px;
  max-height: 17px;
}

.location-select-dropdown {
  position: relative;
  background: var(--white);
  padding: 18px 35px 18px 20px;
  min-height: 59px;
  border-radius: 12px;
  border: solid 1px var(--grey-500);
  cursor: pointer;
}

.location-select-dropdown .dropicon {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 14px;
  height: auto;
}

.droplist-outter {
  position: absolute;
  bottom: 100%;
  left: -1px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 2px;
  transition: 0.3s;
  transform-origin: bottom;
  transform: scaleY(0);
}

.select-drop-list {
  border: solid 1px var(--grey-500);
  border-radius: 12px;
  background: var(--white);
  padding: 15px;
  max-height: 400px;
  overflow-y: auto;
  width: calc(100% + 2px);
}

.location-radio-list .radio-text {
  color: var(--secondary);
  font-weight: 500;
}

.location-radio-list .radio-box {
  display: inline-block;
  border: solid 1px var(--secondary);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 7px;
  position: relative;
}

.custom-radio input {
  display: none;
}

.custom-radio {
  cursor: pointer;
}

.custom-radio {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.location-radio-list li {
  margin: 15px 0;
}
.location-radio-list li:last-child {
  margin-bottom: 0;
}
.select-drop-list .location-radio-list {
  padding: 8px 15px !important;
}

.location-radio-list .radio-box::before {
  content: "";
  display: table;
  height: 10px;
  width: 10px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-radio input:checked ~ .radio-box::before {
  background: var(--primary);
}

.custom-radio input:checked ~ .radio-box {
  border-color: var(--primary);
}

.custom-radio input:checked ~ .radio-text {
  color: var(--primary);
}

.recommended-text-tag {
  background: var(--grey-500);
  font-size: 10px;
  color: var(--primary);
  padding: 4px 8px;
  border-radius: 6px;
  margin-left: 10px;
}

.custom-radio .recommended-text-tag {
  margin-left: 5px;

  font-weight: 500;
}

.location-select-dropdown:hover .droplist-outter, .droplist-outter.active {
  transform: scaleY(1);
}

.map-modal-header {
  position: relative;
}

#map-modal-style {
  background: transparent;
  max-width: 100%;
}

#map-modal-style .custom-modal-content {
  padding: 5px 0 0 0;
}

.map-modal-header {
  background: var(--white);
  border-radius: 30px;
  padding: 15px 15px 15px 30px;
}

#marker-tooltip {
  background-color: var(--white);
  color: var(--primary);
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 7px;
  font-weight: 500;
  box-shadow: 0 0 15px var(--shadow-color);
}

.map-modal-body {
  background: var(--white);
  border-radius: 30px;
  padding: 15px 30px;
}

#map-modal-style .modal-header-content {
  margin-bottom: 15px;
  padding-right: 0;
}

.map-modal-body .ratio-16x9 {
  max-width: 100%;
  margin: auto;
}

.land,
.lake {
  fill: var(--grey-500);
}

.map-modal-body .ratio-16x9 svg {
  max-height: 430px;
}

#map-modal-style {
  max-width: 1020px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
}

.map-modal-footer {
  background: var(--white);
  border-radius: 27px;
  padding: 15px 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  max-width: 960px;
  left: 50%;
  transform: translateX(-50%);
}

.map-inner-modal {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map-modal-style .map-modal-footer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.map-inner-modal .custom-modal-close {
  right: 0;
  bottom: 100%;
  top: auto;
}
.server-pricing-main-col {
  height: 101px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.server-info-main-col {
  height: calc(100% - 131px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#server-carousel .owl-stage-outer {
  height: 259px;
  overflow-y: hidden;
}

.deploy-btn-list button:hover {
  background: var(--primary);
  color: var(--white);
}

.header {
  background: var(--white);
}

.custom-tooltip-info:hover > img {
  transform: scale(1.1);
}

.blockchain-list .single-blockchain-col:hover {
  transform: scale(1.015);
}

.applied-filter-list > li {
  display: inline-block;
}

.unselect-filter {
  cursor: pointer;
  margin-left: 5px;
}
.unselect-filter svg {
  fill: var(--primary);
  transition: all 0.3s ease-out;
}
.unselect-filter:hover svg {
  fill: var(--primary-light);
  transition: all 0.3s ease-out;
}
.blockchain-icon .img-outter img {
  height: 100%;
  width: 100%;
}

.load-more-col {
  text-align: center;
  margin: 25px 0 0 0;
}

.load-more-col a {
  color: var(--primary);
  text-decoration: none !important;
}

.reached-to-end {
  text-align: center;
  color: var(--grey);
}

#pageLoader,
#deployLoader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  z-index: 9999999999999999;
}

#pageLoader img,
#deployLoader img {
  width: 40px;
}

.crypto-selector .text img {
  width: 23px;
  margin-right: 5px;
}

.crypto-selector .text {
  display: flex;
  align-items: center;
}

.price-type-col > ul > li label,
.price-type-col > ul > li .text {
  height: 100%;
  width: 100%;
}

.no-records {
  color: var(--grey);
  display: block;
  text-align: center;
  margin: 30px auto 10px;
}

.filter-accordion-header .acc-heading {
  font-size: 16px;
  color: var(--primary);
  font-weight: 700;
}

.filter-accordion-header .accordion-button::after {
  background-image: url(/assets/img/accordion-arrow.svg);
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  background-size: 12px;
  background-position: center;
  transform: rotate(-90deg);
}
.filter-accordion-header .accordion-body {
  padding: 0 0 30px 0;
}
.filter-accordion-header .accordion-button {
  padding: 30px 0;
  box-shadow: none;
}
.filter-accordion-header .accordion-button {
  background-color: transparent;
}
.filter-accordion-header .accordion-button:not(.collapsed) {
  color: var(--primary);
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
}

.accordion-button:focus {
  border-color: var(--white) !important;
  box-shadow: none !important;
}
.soon-text {
  color: var(--secondary);
  font-weight: 400;
  margin-bottom: 5px;
}
input[type="range"] {
  width: 100%;
  background-color: var(--grey-500);
  height: 3px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  background: var(--primary) !important;
  height: 10px !important;
  width: 10px !important;
  position: relative;
  top: 0;
  -webkit-appearance: none;
  border-radius: 10px;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  background: var(--primary) !important;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  background: var(--primary) !important;
}

.info-tabs-modal {
  width: 100%;
  max-width: 1160px;
  padding: 30px;
  margin: 5vw auto 0 auto;
}
.info-tabs-modal.modal-dialog-centered {
  margin: 0 auto;
}
#found-results {
  margin-bottom: 25px;
  color: var(--primary);
}

#found-results > strong {
  font-weight: 700;
}

#tagContainer .applied-tag {
  color: var(--primary);
}

.info-tabs-modal .modal-body {
  padding: 45px 15px 50px;
}

.info-tabs-modal .modal-content {
  border-radius: 30px;
}

.header-nav {
  flex-direction: row;
}

body.modal-open {
  overflow: hidden;
}

.marketplace-emblem {
  display: none;
}

.lightbody .header {
  background: var(--white);
}

.header-nav .dropdown-menu.dropdown-menu-end.show {
  position: absolute;
}

.header-nav .dropdown-toggle::after {
  background: url("/public/images/accordion-arrow.svg") no-repeat;
  border: none !important;
  background-position: center center;
  background-size: 10px;
  height: 12px;
  width: 10px;
  position: relative;
  top: 1px;
}
.accordion-item {
  color: var(--primary);
  background-color: transparent;
  border-bottom-color: var(--grey-500);
}
.switch-radio {
  width: 100%;
}

.skltbs-tab-item .nav-link {
  border: none;
  margin: 0;
  white-space: nowrap;
  background: transparent;
  border: none;
  text-align: center;
  padding: 17px 15px;
  color: var(--primary) !important;
  width: 100%;
  border-radius: 110px;
  cursor: pointer;
  opacity: 0.5;
  font-weight: 500;
}
.skltbs-tab-item .nav-link:hover {
  opacity: 1;
}

.skltbs-tab-item .nav-link.active {
  opacity: 1;
  background: var(--white);
}

.server-item-wrap {
  padding: 0 10px 25px;
}

.info-tabs-modal .slick-slide .col-sm-12 {
  padding: 0 5px;
}
.slick-arrow.slick-disabled {
  pointer-events: none;
}
.info-tabs-modal .slick-next,
.info-tabs-modal .slick-prev {
  top: 100%;
  bottom: auto;
}

.info-tabs-modal .slick-prev:before {
  content: "";
  background: url("/assets/img/left-ar.svg") no-repeat !important;
  color: var(--primary);
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background-color: var(--grey-500) !important;
  display: block;
  background-position: center !important;
}

.info-tabs-modal .slick-next:before {
  content: "";
  background: url("/assets/img/left-ar.svg") no-repeat !important;
  color: var(--primary);
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background-color: var(--grey-500) !important;
  display: block;
  background-position: center !important;
  transform: rotate(180deg);
}

.info-tabs-modal .slick-prev {
  left: auto;
  right: 55px;
  z-index: 99999;
}

.info-tabs-modal .modal-content .slick-next {
  right: 15px !important;
}

.info-tabs-modal .slick-track {
  display: flex;
}
.tooltip-content-col p {
  font-size: 12px !important;
  text-align: left;
  color: var(--primary);
  font-weight: 500;
}

html .lightbody .content {
  transition: unset !important;
}

.progress-loader {
  height: 100%;
  min-height: calc(100vh + 200px);
  width: calc(100% + 62px);
  position: absolute;
  top: -110px;
  background: rgba(255,255,255,0.6);
  display: flex;
  align-items: center;
  z-index: 1;
  flex-direction: column;
  padding-top: 10vw;
  box-shadow: none;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  left: -31px;
}

.progress-loader > h4 {
    color: var(--primary);
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    margin-top: 30px;
}

.crypto-selector .currency-selector:checked ~ .text a {
  color: var(--white);
}

#moreLoader {
  position: relative;
  top: 15px;
}

.filter-actions-col-outter {
  width: 100%;
}

.blockchain-filters-col.active + .blockchain-list-col {
  width: 100%;
  margin-top: 0;
  padding-left: 0;
}

.tagContainer {
  margin-right: 5px;
}

.beta .blockchain-tag {
  background: var(--light-orange-background);
  color: var(--alert);
}

.blockchain-footer {
  opacity: 0.6;
  pointer-events: none;
}

.single-blockchain-col.live .blockchain-footer {
  opacity: 1;
  pointer-events: unset;
}
.single-blockchain-col.alpha .blockchain-footer {
  opacity: 1;
  pointer-events: unset;
}

.serverPriceDetails {
  color: var(--primary);
}

.label-btn.cursor {
  color: var(--primary);
}

.selected-location-text {
  color: var(--primary);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.backApp-container a {
  color: var(--primary);
  background: var(--grey);
  border-radius: 24px;
  display: inline-block;
  border: solid 1px var(--grey-500);
  padding: 7px 14px;
  min-height: 34px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.backApp-container:hover a {
  background: var(--grey-500);
  transition: all 0.3s ease-in;
}

.backApp-container {
  margin-bottom: 30px;
  display: inline-flex;
}

.backApp-container a svg {
  margin-right: 7px;
  max-width: 6px;
}

.deployLoader-text {
  text-align: center;
}

.deployLoader-text p {
  margin: 15px 0 0 0;
}

.swal2-container.swal2-center.swal2-backdrop-show {
  background: var(--white) !important;
}

.swal2-container {
  z-index: 999999999 !important;
}

.deply-progress-loader {
  width: 100%;
  max-width: 620px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: var(--white);
  border-radius: 16px;
  border: 3px solid var(--white);
  box-shadow: 0 2px 24px #dcdcdc, inset 0 0 8px var(--grey-500);
  height: 22px;
}

.deply-progress-loader .progress-bar {
  /* background: var(--primary-light); */
  background: linear-gradient(90deg, #283A91 0%, #3B50BA 100%);
}

/* .modal-logo {
    height: 160px;
    width: 200px;
} */

.progress-loader p {
  color: var(--primary);
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 0;
}

.progress-loader p > svg {
  color: var(--primary);
  margin-left: 5px;
  max-width: 22px;
  height: auto;
}

.progress-loader p:hover {
  color: var(--primary-light);
}

.progress-loader p:hover > svg {
  color: var(--primary-light);
}

#swal2-title {
  color: var(--primary) !important;
}

.map-modal-body > svg {
  max-height: 750px;
  margin: auto;
  display: table;
}

#map-modal-style .map-modal-body {
  max-height: 540px;
}

.map-modal-body path {
  fill: var(--grey);
  stroke: var(--grey);
  outline: none !important;
}

.map-modal-body path:hover {
  fill: var(--primary);
}

.map-modal-body circle {
  fill: var(--primary);
}

#map-modal-style .map-modal-body > svg.rsm-svg {
  margin-top: -50px;
}

.protocol-type-list li {
  position: relative;
}

.protocol-type-list li > .joinBeta {
  color: var(--primary);
  font-size: 11px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--grey-500);
  border-radius: 19px;
  padding: 5px 7px;
  cursor: pointer;
}

.beta-modal {
  max-width: 709px;
  width: 100%;
}

.beta-modal label {
  color: var(--primary) !important;
  font-size: 22px;

  font-weight: 700;
}

.beta-modal .modal-body {
  padding-bottom: 50px !important;
}

.email-field {
  border: solid 1px var(--grey);
  height: 58px;
  padding: 0 15px;
  border-radius: 12px;
  width: 100%;
  color: var(--secondary);
}

.beta-modal .form-group-inner {
  position: relative;
  margin-top: 35px;
}

.form-group-inner button {
  background: var(--primary);
  border: solid 1px var(--primary);
  border-radius: 12px;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group-inner button img {
  width: 25px;
  transition: 0.3s;
}

.form-group-inner button:hover img {
  transform: scale(1.2);
}

.customer-loader {
  background: var(--grey) !important;
}

.customer-loader h4 {
  color: var(--primary) !important;
}

.customer-loader .progress-bar {
  background-color: var(--primary);
}

.blocklist-applied-filters {
  display: flex;
  flex-direction: column-reverse;
}

.log-details {
  margin: 0;
  padding: 0 10px;
  max-width: 630px;
  width: 100%;
  margin-top: 35px;
  max-height: 270px;
  overflow-y: auto;
}

.log-details li div {
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
}

.log-details li:last-child {
  margin-bottom: 0;
}

.log-title {
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
}

.log-date {
  color: var(--secondary);
  display: block;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
}

.deploy-md > .modal-dialog {
  max-width: 620px;
  width: 100%;
  padding: 15px 9px;
  margin: 0 auto;
}

.success {
  color: var(--success) !important;
}

.warning {
  color: var(--warning) !important;
}

.danger {
  color: var(--danger) !important;
}

.payment-radio {
  width: 100%;
  position: relative;
}

.payment-radio-list {
  margin: 0;
  list-style-type: none;
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 17px;
}

.payment-radio-list label .text {
  background: var(--grey);
  border: none;
  font-size: 16px;
  text-align: left;
  padding: 15px 20px;
  color: var(--primary);
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  opacity: 0.75;
  white-space: nowrap;
}

.payment-radio input {
  display: none;
}

.payment-radio-list li {
  flex: calc(50% - 17px) 1 1;
  text-align: center;
}
.btn-close {
  outline: none !important;
  box-shadow: none !important;
}
.payment-radio input:checked ~ .text {
  background: var(--primary);
  opacity: 1;
  color: var(--white);
  padding-right: 50px;
}

.payment-radio input:checked ~ .text::before {
  content: "";
  position: absolute;
  background-image: url("/assets/img/tck.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
  display: table;
  right: 25px;
  top: 18px;
}

.deploy-md hr {
  border-top: 1px solid var(--grey);
  opacity: 1;
  margin-top: 20px;
}

.hr-handle {
  padding-left: 15px;
  padding-right: 15px;
}

.deploy-md .pay div {
  color: var(--primary);
}

.deploy-md .total div {
  color: var(--primary);
  font-weight: 700;
  font-size: 16px;
}

.deploy-md .form-check {
  margin-top: 30px;
  margin-bottom: 20px;
}

.deploy-md .form-check-input {
  height: 24px;
  width: 24px;
  margin-right: 20px;
  border-radius: 4px;
  position: relative;
  top: -2px;
  cursor: pointer;
  background-color: transparent;
  border-color: var(--grey-750);
}

.deploy-md .form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
  background-image: url("/assets/img/tck.svg");
  background-size: 14px;
}

.deploy-md .form-check {
  display: flex;
  align-items: center;
}

.deploy-md .form-check label {
  color: var(--primary);
  font-weight: 400;
}

.deploy-md .modal-body {
  border: none;
  padding: 20px 0 20px 0;
  margin: 0 -15px;
}

.deploy-md .pay {
  margin-bottom: 10px;
}

.promo-spinner {
  position: absolute;
  top: 20px;
  right: 25px;
}

.promo.form-control {
  padding-right: 40px;
}

.term {
  font-weight: 600;
  color: var(--primary-light);
  cursor: pointer;
}

.term:hover {
  text-decoration: underline;
}

.deploy-des {
  line-height: 24px;
  color: var(--secondary);
  padding: 0 15px;
  margin-bottom: 20px;
}

.deploy-des > span,
.deploy-md label {
  font-weight: 600;
}

.blockchain-filters-col.active + .blockchain-list-col .single-blockchain-col {
  width: 24%;
}

.server-specifications-list li {
  padding: 0;
  border-left: none;
  border-right: none;
  border-color: var(--grey-500);
}

.server-specifications-list li > span {
  width: 50%;
  background: var(--grey);
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--secondary-500);
  text-transform: capitalize;
}

.server-specifications-list li > span:first-child {
  padding-left: 20px;
  border-right: 1px solid var(--grey-500);
}

.server-specifications-list li > span:last-child {
  padding-right: 20px;
  text-align: right;
}

.server-specifications-list {
  padding: 4px;
  background: var(--white);
  box-shadow: 0 4px 20px var(--shadow-color);
  border-radius: 12px;
}

.server-specifications-list li:first-child {
  border-top: none;
}

.server-specifications-list li:last-child {
  border-bottom: none;
}

.server-specifications-list li:first-child > span:first-child {
  border-top-left-radius: 12px;
}

.server-specifications-list li:first-child > span:last-child {
  border-top-right-radius: 12px;
}

.server-specifications-list li:last-child > span:first-child {
  border-bottom-left-radius: 12px;
}

.server-specifications-list li:last-child > span:last-child {
  border-bottom-right-radius: 12px;
}

.server-sp-name {
  font-size: 20px;
  color: var(--primary);
  font-weight: 500;
  margin-bottom: 25px;
}

.server-description {
  color: var(--secondary);
  font-weight: 400;
  margin-bottom: 30px;
}

.disabled-link {
  pointer-events: none;
}

.icon-dis {
  position: relative;
  top: -2px;
}

.payment-method-detail > .payment-heading {
  color: var(--primary);
  font-weight: 600;
  font-size: 16px;
}

.payment-method-detail > .payment-summary,
.payment-method {
  color: var(--primary);
  font-weight: 600;
  font-size: 24px;
}

.complete-order .card {
  padding: 45px;
  box-shadow: 0px 4px 48px var(--shadow-color);
  border-radius: 30px;
  background-color: var(--white);
  height: auto;
}

.payment-method-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-new-card-add {
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary-light);
  font-size: 16px;
  font-weight: 600;
}

.switch-card {
  border: none;
  padding: 0;
  cursor: pointer;
}

.switch-card .card-list-main {
  background: var(--grey);
  border-radius: 8px !important;
  padding: 17px 20px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in;
}

.switch-card input:checked + .card-list-main {
  border-radius: 8px !important;
  background: var(--primary) !important;
}

.switch-card input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.payment-new-invoice-id {
  font-size: 20px;
}
.payment-new-invoice-id strong {
  font-weight: 600;
}
.payment-new-invoice-id span {
  color: var(--primary);
  font-size: 24px;
}

.summary-card {
  background: var(--grey);
  padding: 15px;
  border: 1px solid var(--grey-500) !important;
  border-radius: 12px !important;
}
.summary-card .summary-card-crypto-icon {
  height: 56px;
  width: 56px;
  margin-right: 10px;
}

.summary-card-description p {
  color: var(--primary);
  margin-bottom: 8px;
}

.summary-card-list {
  border: none;
}

.summary-card-list div {
  color: var(--primary);
}

.summary-card-list .total {
  font-size: 16px;
  font-weight: 700;
}

.summary-card-payment-btn {
  height: 52px;
  width: 286px;
}
.summary-card-payment-btn svg {
  height: 24px;
  width: 24px;
}
.agree-conditions {
  display: flex;
  cursor: pointer;
}
.agree-conditions a {
  text-decoration: none;
  position: relative;
  left: 4px;
}

.switch-card1 {
  background: var(--grey);
  border-radius: 8px !important;
  position: relative;
}

.switch-card1 input:checked {
  border-radius: 8px !important;
}
.switch-card1 input {
  appearance: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.crypto-payment-method {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: var(--grey);
  padding: 17px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.switch-card:hover .card-list-main,
.switch-card1:hover .crypto-payment-method {
  background-color: var(--grey-500);
  transition: all 0.3s ease-in;
}
.switch-card1 input:checked + .crypto-payment-method {
  background-color: var(--primary);
  color: var(--white);
}

.switch-card1 input:checked + .payment-heading {
  color: var(--white);
}

.crypto-payment-method > .payment-heading {
  color: var(--primary);
  font-weight: 600;
  font-size: 16px;
  z-index: 50;
}

.no-inventory-description {
  font-size: 16px;
  color: var(--secondary);
  font-weight: 500;
  max-width: 550px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.no-inventory-heading {
  font-size: 22px;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 30px;
}

.no-inventory-modal .modal-content {
  box-shadow: 0px 8px 48px var(--shadow-color);
  border-radius: 30px;
}

.no-inventory-modal .modal-dialog {
  max-width: 680px;
}

.server-sold-email {
  height: 58px;
  border: 1px solid var(--grey-500);
  border-radius: 12px;
  background: var(--white);
}

.no-inventory-modal .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.no-inventory .input-group-text {
  background: var(--white);
  padding: 0;
  border-radius: 12px;
}

.server-sold-email {
  border-right: none !important;
}
.server-sold-email:focus {
  background: var(--white);
}
.server-sold-email:focus + span {
  border: 1px solid var(--primary-light);
}
.no-inventory .send-icon {
  cursor: pointer;
  position: relative;
  left: -3px;
}

.no-inventory-modal .btn-close {
  box-shadow: 0px 3px 12px var(--shadow-color) !important;
  height: 22px;
  width: 22px;
  border-radius: 32px;
  background-color: var(--white);
}

.no-inventory .modal-body {
  padding-top: 0;
}

.custom-switch-container {
  height: 28px;
  width: 52px;
  border-radius: 60px;
  background: #DCDFEF;
  box-shadow: 0px 4px 15px rgba(21, 31, 78, 0.12);
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}

.custom-switch input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.custom-switch-container span {
  background: #FFFFFF;
  box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
  display: table;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.custom-switch input:checked ~ .custom-switch-container {
  background-color: var(--primary);
}

.custom-switch input:checked ~ .custom-switch-container span{
  left: 28px;
}

ul.justified-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.basic-font{
  font-weight: 500;
  font-size: 16px;
  color: var(--primary);
}

.inprogress{
  background: rgba(253, 107, 1, 0.1) !important;
  color: rgba(253, 107, 1, 1) !important;
}

.closed{
  background: #ECEDF0 !important;
  color: rgba(136, 136, 136, 1) !important;
}
