@media (max-width: 1599px) {
  .login-slider-heading {
    font-size: 20px;
  }
}

@media (max-width: 1399px) {
  .loginSlider .slick-prev,
  .loginSlider .slick-next {
    top: 100%;
    right: auto;
    margin-top: 20px;
  }
  .loginSlider .slick-next {
    left: 46px;
    transform: translateY(0);
  }
  .loginSlider .slick-prev {
    left: 0;
    transform: translateY(0) rotate(180deg);
  }
  .loginSlider .slick-list {
    width: 100%;
    margin-right: 0;
  }
  .loginSlider .slick-prev:before,
  .loginSlider .slick-next:before {
    background-size: 36px !important;
    font-size: 36px;
  }
  .profile-form-main form {
    max-width: 350px;
  }
  .server-info-list .server-blockchain-name img {
    margin: 0 15px 0 0;
    width: 95px;
    height: 95px;
  }
  .mk-space {
    gap: 30px;
  }
  .recommended-server-body img {
    width: 380px;
    height: 380px;
  }
  .server-form-col-inner .form-group {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  #ev-marketplace {
    padding-top: 10px;
  }
  .blockchain-list-col {
    width: 73%;
  }
  .blockchain-filters-col,
  .filter-actions-col .inner {
    width: 27%;
    transition: 0.3s;
  }
  .blockchain-list .single-blockchain-col {
    flex: calc(100% / 2) 0;
  }
  .blockchain-filters-col.active
    + .blockchain-list-col
    .blockchain-list
    .single-blockchain-col {
    flex: calc(100% / 3) 0;
  }
  .blockchain-list-col.active .single-blockchain-col {
    width: 32%;
  }

  .server-form-col {
    padding: 25px;
  }
  .custom-modal {
    width: 980px !important;
  }
}
@media (max-width: 1299px) {
  body {
    font-size: 14px;
  }
  .market-deploy-btns {
    padding: 0 1vw;
  }
  .market-deploy-btns .price {
    font-size: 26px;
  }
  .deploy-btn-list button {
    padding: 16px 3vw;
  }
  .marketplace-config {
    flex: 440px 0;
  }
  .recommended-server-body img {
    width: 320px;
    height: 320px;
  }
  .server-info-list .server-blockchain-name {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .info-tabs-modal .slick-slide {
    min-width: 340px;
  }
}
@media (max-width: 1199px) {
  .info-tabs-modal .slick-slide {
    min-width: 260px;
  }
  .info-tabs-modal .slick-slide {
    min-width: 284px;
  }
  .deploy-btn-list .small-monthly-tag {
    font-size: 8px;
    padding: 2px 5px;
  }
  .market-deploy-btns .price {
    font-size: 22px;
    top: 0;
  }
  .marketplace-container {
    padding: 25px 15px !important;
  }
  .server-info-main-col {
    height: calc(100% - 106px);
  }
  .market-deploy-btns .price small {
    font-size: 14px;
  }
  .market-deploy-btns span img {
    width: 40px;
  }
  .deploy-btn-list button {
    padding: 14px 15px;
  }
  .mk-space {
    gap: 25px;
  }
  .server-pricing-main-col {
    height: 81px;
    margin-top: 25px;
  }
  .form-group .label-btn {
    top: 3px;
  }
  .label-btn {
    padding: 4px 12px;
  }
  .server-form-col-inner .form-group {
    margin-bottom: 25px;
  }
  .server-info-list .server-blockchain-name img {
    width: 75px;
    height: 75px;
  }
  .recommended-tag {
    font-size: 12px;
    padding: 4px 18px;
  }
  .recommended-server-header {
    padding-right: 3px;
  }
  .selected-server-country img {
    width: 36px;
    height: 24px;
  }
  .selected-server-country p {
    font-size: 12px;
    line-height: normal;
  }
  .server-form-col .form-label {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .large-radio.text .text {
    padding: 16px 18px;
  }
  .switch-radio-list label .text {
    padding: 15px 10px;
  }
  .selected-server-country .flag-secondary-text {
    font-size: 11px;
    line-height: normal;
    margin-top: 1px;
  }
  .recommended-tag svg {
    max-width: 10px;
  }
  .marketplace-config {
    flex: 420px 0;
  }
  .server-info-list .server-blockchain-name {
    font-size: 18px;
  }
  .market-deploy-btns {
    padding: 0;
  }
  .blockchain-list-col {
    padding-left: 5%;
  }
  .node-filters {
    margin-bottom: -70px;
  }
  #sidebar {
    width: 250px;
    padding: 16px;
  }
  .toggled #sidebar {
    padding: 16px 0;
  }
  .sidebar-logo {
    padding-left: 5px;
  }
  .sidebar-logo img[alt="logo"] {
    max-height: 36px;
    width: auto;
  }
  #dashboard-content {
    padding: 25px 25px 25px 275px;
  }
  .toggled #dashboard-content {
    padding: 25px 25px 25px 125px;
  }
  .dashboard-header-right input {
    right: 0;
    z-index: 1;
    position: absolute;
    padding-left: 15px;
    padding-right: 5px;
    width: 52px;
    min-width: auto;
    transition: all 0.3s ease-out;
  }
  .dashboard-header-right .node-search:hover input {
    padding-right: 52px;
    width: 175px;
    transition: all 0.3s ease-in;
  }
  .header-search-icon {
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    left: auto;
    top: 26px;
    background: var(--white);
    transform: translateY(-50%) scale(0.9);
  }

  .b1 {
    font-size: 0 !important;
    min-width: 52px !important;
    background-position: center !important;
  }
  .card-content {
    padding: 20px;
  }
  .listData .list-group-item {
    padding: 7px 0;
  }
  .listData {
    width: 100%;
  }
  .gi-card-wrap .gi-card:last-child .listData {
    margin-bottom: 25px;
  }
  .gi-card-wrap .gi-card:last-child .listData:last-child {
    margin-bottom: 0;
  }
  .profile-form-main {
    flex-direction: column;
  }
  .profile-form-main .user-image {
    margin-right: 0;
    margin-bottom: 30px !important;
    display: flex;
    align-items: center;
  }
  .remove-image {
    margin-top: 0;
    margin-left: 30px;
  }
  .toggleMenu {
    top: 14px;
  }
  .toggled .sidebar-logo {
    padding-left: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .toggleMenu {
    display: none;
  }
  .toggled #sidebar {
    padding: 11px 0 16px 0;
  }
  .toggled #dashboard-content {
    padding: 20px 20px 20px 120px;
  }
}

@media (max-width: 991px) {
  .deply-progress-loader {
    max-width: 520px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
  }
  .progress-loader > h4 {
    font-size: 18px;
  }
  .log-details {
    max-width: 530px;
  }
  .join-by {
    margin-top: 0;
  }
  .tooltip-content-col::before {
    right: 51px;
  }
  .tooltip-content-col {
    right: -50px;
  }
  .marketplace-config {
    min-height: auto;
  }
  .info-tabs-modal > .modal-content {
    padding: 0;
  }
  .marketplace-server-detail {
    flex: 100% 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 99;
    bottom: 0;
    padding: 0;
    margin: 0;
    background: var(--grey);
    border-top: 3px solid var(--white);
    box-shadow: 0 -3px 10px var(--shadow-color);
    border-radius: 30px 30px 0 0;
  }
  .marketplace-server-detail .white-shadow-bg {
    border-radius: 0;
    padding: 20px;
    margin: 0;
    box-shadow: none;
    height: auto;
    background: transparent;
  }
  .marketplace-server-detail .server-pricing-main-col {
    padding-top: 10px;
  }
  .marketplace-server-detail .server-info-main-col {
    padding-bottom: 0;
  }
  .recommended-tag {
    border-radius: 0px 30px 0px 30px;
    padding: 5px 16px;
    right: 1px;
  }
  .server-info-list {
    margin: 0;
    padding-left: 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .server-info-list .server-blockchain-name img {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .recommended-server-body {
    margin: 0;
    position: absolute;
    right: 175px;
    bottom: -67px;
  }
  .recommended-server-body img {
    width: 52px;
    height: 52px;
    mix-blend-mode: darken;
  }
  .server-info-list .server-blockchain-name {
    font-size: 18px;
    margin: 4px 0;
  }
  .deploy-btn-list {
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .deploy-btn-list li#btn1 {
    margin-right: 30px;
  }
  .deploy-btn-list .md-btn {
    display: flex;
    flex: auto;
    justify-content: flex-end;
  }
  #btn1 img,
  #btnMap img {
    width: 36px;
    height: 36px;
  }
  .serverPriceDetails {
    margin-right: 30px;
    margin-bottom: 2px;
  }
  .marketplace-config {
    flex: auto;
    width: 100%;
  }
  .mk-space {
    gap: 0;
    min-height: calc(100vh - 111px);
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding-bottom: 180px;
  }
  .marketplace-container {
    padding: 20px 10px !important;
  }
  #ev-marketplace {
    padding-top: 5px;
  }
  .loginForm {
    width: 100%;
  }
  .loginSlider {
    display: none;
  }
  .card-content {
    padding: 15px;
  }
  .join-by {
    top: -30px !important;
  }
  .node-list.table td button {
    padding: 8px 14px;
  }

  .filter-actions-col .inner {
    width: 100%;
  }

  .blockchain-list-col {
    width: 100%;
    padding: 0;
    margin-top: 0;
  }

  .blocklist-applied-filters p {
    margin: 0;
  }

  .applied-filter-list {
    margin-bottom: 10px !important;
  }

  .blockchain-filters-col {
    padding: 20px 15px 10px;
    position: fixed;
    z-index: 111;
    background: var(--white);
    top: 0;
    left: auto;
    right: -100%;
    height: 100% !important;
    width: 360px !important;
    overflow: hidden;
    transition: 0.3s;
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 0px 24px var(--shadow-color);
  }

  .blockchain-filters-col.active {
    right: 0;
    height: 100% !important;
    width: 360px !important;
    visibility: visible;
    opacity: 1;
  }

  .marketplace-row {
    padding: 0 15px;
  }

  .server-form-col {
    padding: 20px;
  }

  .large-radio .text {
    border-radius: 12px;
    padding: 12px 10px;
    font-size: 13px;
  }

  .server-form-col-inner .form-group:last-child {
    margin-bottom: 10px;
  }

  .available-recommended-server .server-title {
    font-size: 13px;
  }

  .available-recommended-server .server-price {
    font-size: 20px;
  }

  .available-recommended-server .server-price small {
    font-size: 13px;
  }

  .custom-modal {
    width: 90%;
  }

  .custom-modal-content {
    padding: 25px 20px 25px;
    max-height: 610px;
    overflow-y: auto;
  }

  .modal-header-content .large-text {
    font-size: 16px;
  }

  .modal-header-content .secondary-text {
    font-size: 13px;
    margin-top: 5px;
  }

  .skltbs-panel {
    font-size: 14px;
  }

  .modal-header-content {
    margin-bottom: 25px;
  }

  #map-modal {
    width: 90%;
  }

  .map-modal-header {
    padding: 20px 15px 25px 15px;
  }

  .modal-opened .server-pricing-main-col {
    display: none;
  }

  #server-carousel .owl-stage-outer {
    height: 280px;
  }

  #server-carousel .owl-nav {
    bottom: -5px;
  }
}

@media (max-width: 891px) {
  .blockchain-list .single-blockchain-col {
    flex: calc(100% / 2) 0;
  }
}

@media (max-width: 767px) {
  .place-order-modal .modal-content {
    padding: 0 10px;
  }
  .place-order-modal {
    margin: 0 !important;
  }
  .place-order-modal .form-check-input {
    margin-right: 10px;
  }
  .place-order-modal .modal-dialog {
    margin: 0;
    padding: 0;
  }
  .payment-new-invoice-id, .payment-new-invoice-id span {
    font-size: 16px;
  }
  .summary-card-list > .summary-card > div:last-child {
    font-weight: 700 !important;
    margin-top: 10px;
  }
  .summary-card-list > .summary-card > div {
    width: 100%;
    text-align: left !important;
  }
  .summary-card-list > .summary-card {
    display: block !important;
  }
  .summary-card-list > .summary-card > div {
    width: 100%;
  }
  .payment-method-detail > .payment-summary, .payment-method {
    font-size: 16px;
    margin-bottom: 0px !important;
  }
  .complete-order .card {
    padding: 20px;
    border-radius: 20px;
  }
  .firstlogin-mfa {
    padding: 0 15px;
  }
  .modal-body .deploy-md .form-check-input {
    height: 20px;
    width: 20px;
  }
  .welcome-modal .modal-dialog {
    max-width: 100%;
    margin: auto;
  }
  .welcome-modal .modal-content {
    padding: 0 15px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p.welcome-text {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 10px 0px;
  }
  p.welcome-header {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .welcome-modal .modal-body {
    padding-top: 20px;
    padding-bottom: 15px;
    height: auto;
    max-height: 570px;
  }
  .modal-body .form-check label .agree-conditions {
    font-size: 12px;
    white-space: nowrap;
  }
  .welcome-modal .modal-body .hand-icon img {
    width: 140px;
    height: auto;
  }
  .drop-circle.with-text {
    font-size: 0px;
    text-align: center;
  }
  .os-action-menu .drop-circle.with-text {
    padding: 6px 6px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .os-action-menu .drop-circle.with-text svg{
    margin: 0px;
  }
  .card-set {
    font-size: 10px;
    min-width: 80px;
    text-align: center;
  }
  .bankcard li .card-number {
    font-size: 10px;
  }
  .bankcard li img {
    width: 24px;
  }
  .withdrawCancellation-col {
    top: -60px;
    right: 0;
    font-size: 12px !important;
  }
  .bankcard li {
    padding: 10px 10px !important;
  }
  .login-form {
    height: auto;
  }
  .no-nodes-box {
    height: calc(100% - 130px);
  }
  .server-specifications-list li > span:first-child {
    padding-left: 15px;
  }
  .server-specifications-list li > span:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .recommended-server-body {
    right: 10px;
    bottom: auto;
    top: 12px;
  }
  .deploy-btn-list {
    align-items: center;
  }
  .serverPriceDetails {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .marketplace-server-detail .server-pricing-main-col {
    padding-top: 20px;
  }
  .noti-Time {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    padding-left: 8px;
    line-height: 20px;
    font-size: 10px;
    white-space: nowrap;
  }
  .noti-Time:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    top: 8px;
    left: 0;
    background: var(--grey-750);
  }
  .notiBoxTxt li:before {
    width: 4px;
    height: 4px;
  }
  .notiBoxTxt li {
    font-size: 10px;
    font-weight: 500;
  }
  .deploy-btn-list li#btn1 {
    margin-right: 15px;
  }
  .server-info-list .server-blockchain-name img {
    left: 15px;
  }
  .server-info-list {
    padding-left: 75px;
  }
  .marketplace-server-detail .white-shadow-bg {
    padding-left: 15px;
    padding-right: 15px;
  }
  .blockchain-filters-col,
  .blockchain-filters-col.active {
    width: 340px !important;
  }
  .marketplace-container {
    padding: 15px 5px !important;
  }
  #found-results {
    margin-bottom: 15px;
  }
  #ev-marketplace {
    padding-top: 0;
  }
  .card-content > div {
    flex-wrap: wrap;
  }
  .noti-filter > div {
    flex: calc((100% / 2) - 7.5px) 0 0;
  }
  .dashboard-header {
    min-height: 115px;
  }
  .payment-card-main,
  .twofa-disabled-text {
    max-width: none;
    min-width: auto;
  }
  .node-filters {
    margin-bottom: -80px;
  }
  .float #sidebar {
    transform: translateX(-100px);
    position: absolute;
  }
  .toggled.float .toggleMenu {
    right: calc(-100% - 10px);
    transform: scale(0.95);
    background: transparent;
    border: 1px solid var(--grey-500);
    box-shadow: none;
  }
  .toggled.float .toggleMenu:hover {
    background: var(--primary-light);
    border: 1px solid var(--primary-light);
  }
  .toggled.float .sidebar-logo {
    width: 36px;
    left: 100%;
    transform: translateX(15px);
    padding-left: 0px;
  }
  .float .sidebar-logo img[alt="logo"] {
    max-height: 40px;
  }
  .float .toggleMenu {
    top: 15px;
  }
  .float .sidebar-logo {
    margin-top: 15px;
  }
  .dashboard-header {
    flex-direction: column-reverse;
  }
  .dashboard-header-left {
    margin-top: 25px;
  }
  .dashboard-header-right {
    align-self: flex-end;
  }
  .dashboard-header-icon {
    width: 38px;
    height: 38px;
    flex: 38px 0;
    box-shadow: 0px 0px 6px (21 31 78 / 4%);
  }
  .dashboard-header-icon svg {
    max-width: 19px;
    max-height: 19px;
  }
  .dashboard-header-icon img {
    max-width: 38px;
    height: auto;
  }
  .dashboard-header-details .description {
    display: none;
  }
  .dashboard-header-details .heading {
    font-size: 17px;
    font-weight: 600;
  }
  .node-filters .d-flex {
    flex-wrap: wrap;
  }
  .node-filters .form-select {
    flex: calc(50% - 7.5px) 0 0;
  }
  .node-filters .form-select:last-child {
    flex: 100% 0 0;
  }
  #profile {
    padding-top: 45px;
  }
  .user-image {
    width: 130px;
    height: 130px;
    padding: 5px;
  }
  .user-image > img {
    height: 118px;
    width: 118px;
  }
  .edit-image {
    height: 32px !important;
    width: 32px !important;
    bottom: 10px;
    right: -3px;
  }
  .toggled #sidebar {
    padding: 6px 0 16px 0;
  }
  .toggled #dashboard-content {
    padding: 15px;
  }

  .info-tabs-modal {
    padding: 15px;
  }
  .serv.skltbs-tab-item {
    flex: 1;
  }
  .skltbs-tab-item .nav-link {
    font-size: 13px;
  }
  .skltbs-tab-item .nav-link.active {
    font-size: 13px;
  }
  .info-tabs-modal .modal-body {
    padding: 25px 25px 60px;
  }
  .custom-modal-close {
    height: 36px;
    width: 36px;
    right: 10px;
    top: 10px;
  }
  #map-modal-style {
    padding: 15px;
  }
  .notiBoxTxt {
    font-size: 15px;
  }
  .noti-des {
    font-size: 13px;
    margin-top: 5px;
  }
  .info-tabs-modal .modal-content {
    border-radius: 24px;
  }
  #map-modal-style .map-modal-body > svg.rsm-svg {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .code-text-col svg {
    width: 32px;
    height: 32px;
  }
  .server-specifications-list li {
    flex-direction: column;
    padding: 15px !important;
    background: var(--grey);
  }
  .server-specifications-list li > span {
    width: 100%;
    border: 0 !important;
    background: transparent;
    padding: 0 !important;
    border-radius: 0 !important;
    text-align: left !important;
  }
  .server-specifications-list li > span:first-child {
    margin-bottom: 5px;
  }
  .server-specifications-list li > span:last-child {
    color: var(--primary);
  }
  .blockchain-list .single-blockchain-col {
    flex: 100% 0;
  }
  .otp-group input {
    margin-right: 15px !important;
    width: 42px !important;
    height: 42px !important;
    font-weight: 500;
  }
  .info-tabs-modal .modal-content {
    border-radius: 16px;
  }
  .map-modal-header {
    border-radius: 26px;
  }
  .modal-content {
    padding: 0 25px;
  }
  .map-modal-header {
    padding: 25px 15px 25px 15px;
  }
  .info-tabs-modal .modal-body {
    padding: 15px 15px 40px;
  }
  .map-modal-footer {
    padding: 15px 15px 0 15px;
  }
  .serverPriceDetails {
    margin-right: 0;
  }
  .mk-space {
    padding-bottom: 230px;
  }
  .backApp-container {
    margin-bottom: 20px;
  }
  .deploy-btn-list li#btn1 {
    margin-right: 15px;
  }
  .recommended-tag {
    font-size: 10px;
  }
  .recommended-tag svg {
    max-width: 8px;
  }
  .marketplace-server-detail .server-info-main-col {
    padding-top: 25px;
  }
  .marketplace-server-detail .server-pricing-main-col {
    padding-bottom: 0;
  }
  .server-info-list .server-blockchain-name {
    font-size: 16px;
    margin: 0px 0 6px 0;
  }
  .selected-server-country img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid var(--white);
  }
  .selected-server-country .flag-secondary-text {
    margin-top: 0;
  }
  .server-info-list .server-blockchain-name img {
    width: 56px;
    height: 56px;
    left: 15px;
    top: 25px;
    margin: 0 10px 0 0;
  }
  .server-info-list {
    padding-left: 65px;
    padding-right: 55px;
  }
  #map-modal-style .server-info-list {
    padding-right: 0;
  }
  .deploy-btn-list .md-btn {
    flex: 100% 0 0;
    margin-top: 15px;
  }
  .deploy-btn-list .md-btn button {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .blockchain-filters-col,
  .blockchain-filters-col.active {
    width: 320px !important;
  }
  .marketplace-logo {
    display: none;
  }
  .marketplace-emblem {
    display: block;
  }
  .marketplace-container {
    padding: 18px 5px !important;
  }
  .os-detail-list {
    min-width: auto;
  }
  .join-by {
    top: -45px !important;
  }
  .node-search {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .dashboard-header-right input {
    height: 38px;
    width: 38px;
    border-radius: 38px;
  }
  .header-search-icon {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    top: 19px;
    right: 1px;
  }
  .server-sp-name {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .step-head {
    font-size: 18px;
  }
  .step-actions {
    margin-top: 30px;
  }
  .step-modal h5 {
    font-size: 16px;
  }
  .code-text {
    font-size: 22px;
  }
  .code-text-col img {
    max-width: 30px;
    height: auto;
    flex-shrink: 0;
  }

  .inactive-row td div[role="tooltip"] {
    left: 15px;
    transform: translate(0, -50%);
  }
}

@media (max-width: 479px) {
  .progress-loader > h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  .log-details {
    padding-right: 8px;
    padding-left: 0;
    max-height: none;
  }
  .progress-loader p {
    font-size: 14px;
  }
  .log-title {
    font-size: 13px;
  }
  .log-date {
    font-size: 12px;
  }
  .log-details li.mb-20 {
    margin-bottom: 15px;
  }
  .deploy-btn-list .small-monthly-tag {
    font-size: 7px;
    padding: 2px 5px;
  }
  .market-deploy-btns .price {
    font-size: 20px;
  }
  #btn1 .detail-text {
    margin-left: 4px;
    margin-right: 0px;
    font-size: 13px;
  }
  .modal-content {
    padding: 0 20px;
  }
  .profile-content .tab-content {
    padding: 20px;
  }
  .custom-card,
  .payment-card {
    padding: 15px 20px;
  }
  .twofa-disabled-text .head {
    font-size: 18px;
  }
  .twofa-disabled-text .text {
    font-size: 12px;
  }
  .server-sp-name {
    font-size: 16px;
  }
  .server-specifications-list li > span:first-child {
    padding-left: 10px;
  }
  .server-specifications-list li > span:last-child {
    padding-right: 10px;
  }
  .notiBoxTxt {
    font-size: 14px;
  }
  .noti-des {
    font-size: 12px;
  }
  .switch-radio-list label .text {
    padding: 15px;
  }
  .server-form-col {
    padding: 15px;
  }
  .blockchain-filters-col,
  .blockchain-filters-col.active {
    width: 290px !important;
  }
  .marketplace-container {
    padding: 18px 0 !important;
  }
  .loginForm {
    padding: 30px 20px;
  }
  .listData {
    padding: 15px 20px;
  }
  .nodeBtn {
    font-size: 0 !important;
    width: 52px !important;
    flex-shrink: 0;
    min-width: auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .nodeBtn svg {
    margin: 0;
  }
  .noti-filter > div:nth-child(3),
  .noti-filter > div:nth-child(4) {
    flex: calc(100% / 1) 0 0;
  }
  .term {
    top: 56px;
    left: 56px;
  }
  .deploy-md .form-check {
    margin-bottom: 35px;
  }
  .notiBox {
    padding: 15px;
  }
  .otp-group input {
    margin-right: 10px !important;
  }
}

@media (max-width: 360px) {
  .progress-loader > h4 {
    font-size: 14px;
  }
  .inactive-row td div[role="tooltip"] .tooltip-inner {
    min-width: 245px;
  }
  .blockchain-filters-col,
  .blockchain-filters-col.active {
    width: 260px !important;
  }
  .noti-filter > div {
    flex: calc(100% / 1) 0 0;
  }
  .loginForm {
    padding: 30px 15px;
  }
  .toggled.float .toggleMenu {
    right: calc(-100% - 0px);
  }
  .b1 {
    margin-inline: 10px;
  }
  .addBtn {
    margin-left: 10px;
    min-width: 132px;
  }
  .listData {
    padding: 15px;
  }
  .no-nodes-box {
    max-width: 300px;
    font-size: 14px;
    line-height: 24px;
  }
  .market-deploy-btns .price {
    font-size: 22px;
  }
  .otp-group input {
    width: 34px !important;
    height: 34px !important;
    font-size: 22px;
    font-weight: 500;
  }
  .gi-card .listData .list-group-item {
    flex-direction: column;
  }
  .listData .list-group-item span:last-child {
    text-align: left;
    margin-top: 2px;
  }
  .listData .list-group-item span:first-child {
    font-size: 12px;
  }
  .gi-card .listData .heading-list.list-group-item {
    flex-direction: row;
  }
  .heading-list span:last-child {
    font-size: 14px !important;
  }
  .df-id {
    display: flex;
    flex-direction: row-reverse;
  }
  .icn .df {
    padding-top: 3px;
  }
  .deploy-btn-list li#btn1 {
    margin-right: 5px;
    padding: 0;
  }
  .detail-text {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 1200px) {
  .node-list-wrap {
    overflow-x: auto;
  }
  .login-form {
    /* height: auto; */
  }
}

@media (max-width: 767px){
  ul.server-info-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: unset;
  }
  .server-info-list .server-blockchain-name img {
    width: 40px;
    height: 40px;
  }
  .server-info-list {
    padding-left: 48px;
  }
  .server-info-list .server-blockchain-name {
    font-size: 14px !important; 
    margin: 0px !important;
  }
  #map-modal-style .server-info-list {
    min-height: 42px;
    display: flex;
    align-items: center;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .map-modal-body > svg {
    max-height: 340px;
  }
  #map-modal-style .map-modal-body {
    max-height: 260px;
  }
  .login-form {
    height: auto;
  }
}

@media(min-width: 992px) and (max-width: 1100px){
  .map-modal-body > svg {
    max-height: 340px;
  }
  #map-modal-style .map-modal-body {
    max-height: 260px;
  }
  .login-form {
    height: auto;
  }
  .loginForm {
    height: auto;
  }
}
